.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.score {
    font-size: 1.5rem;
    font-weight: bold;
}

.cards-grid {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    text-align: center;
    
}