.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.score {
    font-size: 1.5rem;
    font-weight: bold;
}


.footer {
    padding: 1rem;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
    }
    
    
}