@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

#root {
  height: 100svh;
  width: 100svw;
  display: flex;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
}

a {
  font-weight: 500;
  color: #26ee30;
  text-decoration: inherit;
}
a:hover {
  color: #05662a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


